<header>
  <div><h1 class="text-center m-4">Редактирование</h1></div>
</header>

<div class="container">
  <div class="row">
      <div class="card text-center">
          <div class="card-body">
    <form action="/edit" method="POST">
      <input name="id" hidden value="{{id}}">

      <div>
        <label for="title">Название</label>
        <textarea id="title" name="title" style="width:350px; height:100px;">{{title}}</textarea>
      </div>
<br>
      <div>
        <label for="text">Описание</label>
        <textarea id="text" name="text" style="width:350px; height:200px;">{{text}}</textarea>
      </div>
<br>
      <div>
        <button class="btn btn-secondary" type="reset">Очистить</button>
        <button class="btn btn-success">Сохранить</button>
      </div>
    </form>
    </div>
    </div>
  </div>
</div>