<header>
    <div>
        <h1 class="text-center m-4">Заметки</h1>
    </div>
    <div class="form-check form-switch">
        <input onchange="CSSThemeChanger(this.value)" class="form-check-input" type="checkbox"
            id="flexSwitchCheckDefault" value="/css/styleblack.css"/>
        <label class="form-check-label" for="flexSwitchCheckDefault"><p>Включить темную тему</p></label>
    </div>
</header>


<div class="container">
    <div class="row">
        {{#each notes}}
        <div class="col-sm-6 p-2">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-6 col-xs-12"><img class="rounded imgmini" src="{{image}}" alt="photo"></div>
                            <div class="col"><h5 class="card-title">{{title}}</h5></div>
                        </div>
                    </div>
                    
                    
                    <p class="card-text check">{{text}}</p>
                    <a href="/info/{{id}}" class="btn btn-info">Подробнее</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>